# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule FortnoxEx.Api.TenantResource do
  @moduledoc """
  API calls for all endpoints tagged `TenantResource`.
  """

  alias FortnoxEx.Connection
  import FortnoxEx.RequestBuilder

  @doc """
  Get Warehouse activation status
  Check if current tenant has activated Fortnox Warehouse.

  ### Parameters

  - `connection` (FortnoxEx.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, FortnoxEx.Model.TenantInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_tenant(Tesla.Env.client, keyword()) :: {:ok, FortnoxEx.Model.TenantInfo.t} | {:error, Tesla.Env.t}
  def get_tenant(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/warehouse/tenants-v4")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %FortnoxEx.Model.TenantInfo{}}
    ])
  end
end
