---
openapi: 3.0.1
info:
  title: Fortnox
  version: 0.0.0
  description: "# Documentation \n\nThe Fortnox API is organized around REST. This
    means that we’ve designed it to have resource-oriented URLs and be as predictable
    as possible for you as developer.\n\nIt also means that we use HTTP status codes
    when something goes wrong and HTTP verbs understod by many API clients around
    the web.\n\nWe use a modified version of OAuth2 for authentication to offer a
    secure way for both you and our users to interact.\n\nThe API is generally built
    to support both XML and JSON but in this documentation all the examples will be
    in JSON.\n\nWe encourage you to read all the articles in the [general information
    section](https://developer.fortnox.se/general/)</a> first, before going forward
    and learning about the different resources.\n\nThis to ensure you get an understanding
    of some of the shared components of the API such as parameters and error handling.\n\n##
    Rate limits\n\nThe limit is 4 requests per second per access-token. This equals
    to a bit more than 200 requests per minute.\n\n[Read more about this here.](https://developer.fortnox.se/general/regarding-fortnox-api-rate-limits/)\n\n##
    Query parameters\n\nUse query parameters with the ?-character and separate parameters
    with the &-character. \n\n**Example:**\n GET - https://api.fortnox.se/3/invoices?accountnumberfrom=3000&accountnumberto=4000\nRead
    more about our parameters [here](https://developer.fortnox.se/general/parameters/)\n\n\nSearch
    the documentation using the search field in the top left corner."
servers:
  - url: "https://api.fortnox.se/3"
tags:
  - name: ProjectsResource
    description: Resource for the CRUD operations on projects
    x-displayName: Projects
  - name: SupplierInvoiceAccrualsResource
    description: Resource for the CRUD operations on supplier invoice accruals
    x-displayName: Supplier Invoice Accruals
  - name: StockPointResource
    description: Resource to handle <code>StockPoint</code>s.
    x-displayName: Stock Point
  - name: AssetTypesResource
    description: Asset types resource
    x-displayName: Asset Types
  - name: CustomerReferencesResource
    description: Customer references resource.
    x-displayName: Customer References
  - name: FinancialYearsResource
    description: Financial years resources
    x-displayName: Financial Years
  - name: CustomOutboundDocumentResource
    description: |-
      Handles Custom Outbound Documents.
      
       A Custom Outbound Document is an externally created document
       for registering outbound deliveries to warehouse.
    x-displayName: Custom Outbound Document
  - name: ContractsResource
    description: "Contracts resources\n <table>\n     <caption>Possible filters on Contracts
    endpoint</caption>\n   <tr>\n\t\t<td><strong>Filter</strong></td>\n\t\t<td><strong>Description</strong></td>\n
    \  </tr>\n   <tr>\n\t\t<td>active</td>\n\t\t<td>Retrieves all active contracts</td>\n
    \  </tr>\n   <tr>\n\t\t<td>inactive</td>\n\t\t<td>Retrieves all inactive contracts</td>\n\t
    </tr>\n\t <tr>\n\t\t<td>finished</td>\n\t\t<td>Retrieves all finished contracts</td>\n
    \  </tr>\n </table>\n Possible values for filter"
    x-displayName: Contracts
  - name: ContractTemplatesResource
    description: Contract templates resources
    x-displayName: Contract Templates
  - name: VoucherSeriesResource
    description: Resource for the CRUD operations on voucher series
    x-displayName: Voucher Series
  - name: PrintTemplatesResource
    description: Resource for the CRUD operations on print templates
    x-displayName: Print Templates
  - name: TermsOfPaymentsResource
    description: Resource for the CRUD operations on terms of payments
    x-displayName: Terms Of Payments
  - name: CostCentersResource
    description: Cost centers resources
    x-displayName: Cost Centers
  - name: VoucherFileConnectionsResource
    description: Voucher file connections resources
    x-displayName: Voucher File Connections
  - name: SieResource
    description: |-
      Filters
       <table>
           <caption>Possible filters on SIE endpoint</caption>
       <tr>
       <td>Type</td>
       <td>Description</td>
       </tr>
       <tr>
       <td>FinancialYear</td>
       <td>Retreives the SIE-files for the specific financial year</td>
       </tr>
       <tr>
       <td>Example:</td>
       <td>https://api.fortnox.se/3/sie/4?financialyear=1</td>
       </tr>
       </table>
    x-displayName: Sie
  - name: TrustedEmailSendersResource
    description: Resource for the CRUD operations on trusted email senders
    x-displayName: Trusted Email Senders
  - name: TermsOfDeliveriesResource
    description: Resource for the CRUD operations on terms of deliveries
    x-displayName: Terms Of Deliveries
  - name: AbsenceTransactionsResource
    description: |-
      Absence transactions resources.
       <table>
       <caption>Usable &quot;CauseCodes&quot;</caption>
       <tr><td><strong>Code</strong></td><td><strong>Description</strong></td></tr>
       <tr><td>ASK</td><td>Arbetsskada</td></tr>
       <tr><td>ATF</td><td>Arbetstidsförkortning</td></tr>
       <tr><td>FPE</td><td>Föräldraledig</td></tr>
       <tr><td>FRA or FR1</td><td>Frånvaro övrigt (FR1 is used in PAXml)</td></tr>
       <tr><td>HAV</td><td>Graviditetspenning</td></tr>
       <tr><td>KOM</td><td>Kompledig</td></tr>
       <tr><td>MIL</td><td>Militärtjänst (max 60 dagar)</td></tr>
       <tr><td>NAR or NÄR</td><td>Närståendevård (NÄR is used in PAXml)</td></tr>
       <tr><td>OS1</td><td>Sjuk-OB 1</td></tr>
       <tr><td>OS2</td><td>Sjuk-OB 2</td></tr>
       <tr><td>OS3</td><td>Sjuk-OB 3</td></tr>
       <tr><td>OS4</td><td>Sjuk-OB 4</td></tr>
       <tr><td>OS5</td><td>Sjuk-OB 5</td></tr>
       <tr><td>PAP</td><td>Pappadagar</td></tr>
       <tr><td>PEM</td><td>Permission</td></tr>
       <tr><td>PER</td><td>Permitterad</td></tr>
       <tr><td>SEM</td><td>Semester</td></tr>
       <tr><td>SJK</td><td>Sjukfrånvaro</td></tr>
       <tr><td>SMB</td><td>Smittbärare</td></tr>
       <tr><td>SVE</td><td>Svenska för invandrare</td></tr>
       <tr><td>TJL</td><td>Tjänstledig</td></tr>
       <tr><td>UTB or FAC</td><td>Facklig utbildning (FAC is used in PAXml)</td></tr>
       <tr><td>VAB</td><td>Vård av barn</td></tr>
       </table>
    x-displayName: Absence Transactions
  - name: StockStatusResource
    description: Handles stock status.
    x-displayName: Stock Status
  - name: CompanyInformationResource
    description: Company information resource
    x-displayName: Company Information
  - name: EmployeesResource
    description: Employees resources
    x-displayName: Employees
  - name: SupplierInvoiceExternalUrlConnectionsResource
    description: |-
      Supplier Invoice External URL Connections resource
       Note: Requires a supplier invoice file attachment to be visible in Fortnox GUI.
    x-displayName: Supplier Invoice External Url Connections
  - name: LockedPeriodResource
    description: Resource for CRUD operations on locked period
    x-displayName: Locked Period
  - name: InboxResource
    description: |-
      <table>
           <caption>Note that Inbox has nine static folders in the root directory.</caption>
           <tr><td><strong>Path</strong></td><td><strong>Description</strong></td></tr>
           <tr><td>Inbox_a</td><td>Asset register</td></tr>
           <tr><td>Inbox_d</td><td>Daily takings</td></tr>
           <tr><td>Inbox_s</td><td>Supplier invoices</td></tr>
           <tr><td>Inbox_v</td><td>Vouchers</td></tr>
           <tr><td>Inbox_b</td><td>Bank files</td></tr>
           <tr><td>Inbox_l</td><td>Payroll files</td></tr>
           <tr><td>Inbox_kf</td><td>Customer invoices</td></tr>
           <tr><td>Inbox_o</td><td>Orders</td></tr>
           <tr><td>Inbox_of</td><td>Offers</td></tr>
       </table>
    x-displayName: Inbox
  - name: TaxReductionsResource
    description: "Tax reductions resources\n <table>\n     <caption>Possible filters</caption>\n
    \    <tr>\n         <td><strong>Filter</strong></td>\n         <td><strong>Description</strong></td>\n
    \    </tr>\n     <tr>\n \t\t   <td>invoices</td>\n \t\t   <td>Retrieves all Tax
    reductions for invoices</td>\n     </tr>\n     <tr>\n         <td>orders</td>\n
    \        <td>Retrieves all Tax reductions for orders</td>\n     </tr>\n \t   <tr>\n
    \t       <td>offers</td>\n \t       <td>Retrieves all Tax reductions for offers</td>\n
    \    </tr>\n </table>"
    x-displayName: Tax Reductions
  - name: SupplierInvoicePaymentsResource
    description: Supplier invoice payments resources
    x-displayName: Supplier Invoice Payments
  - name: PricesResource
    description: Resource for CRUD operations on prices
    x-displayName: Prices
  - name: IncomingGoodsResource
    description: General resource for incoming goods.
    x-displayName: Incoming Goods
  - name: ArchiveResource
    description: Archive resources
    x-displayName: Archive
  - name: SuppliersResource
    description: Resource for the CRUD operations on suppliers
    x-displayName: Suppliers
  - name: AccountChartsResource
    description: Account charts resources
    x-displayName: Account Charts
  - name: LabelsResource
    description: Labels resources
    x-displayName: Labels
  - name: CustomersResource
    description: Customers resources
    x-displayName: Customers
  - name: CustomInboundDocumentResource
    description: |-
      Handles Custom Inbound Documents.
      
       A Custom Inbound Document is an externally created document
       for registering inbound deliveries to warehouse.
    x-displayName: Custom Inbound Document
  - name: CurrenciesResource
    description: Currencies resources
    x-displayName: Currencies
  - name: InvoicesResource
    description: "<table>\n     <caption>Possible filters on Invoice endpoint</caption>\n
    \  <tr>\n\t\t<td><strong>Filter</strong></td>\n\t\t<td><strong>Description</strong></td>\n
    \  </tr>\n   <tr>\n\t\t<td>cancelled</td>\n\t\t<td>Retrieves all invoices with
    the status &quot;cancelled&quot;.</td>\n   </tr>\n   <tr>\n\t\t<td>fullypaid</td>\n\t\t<td>Retrieves
    all invoices that has been fully paid.</td>\n\t </tr>\n\t <tr>\n\t\t<td>unpaid</td>\n\t\t<td>Retrieves
    all invoices that is unpaid.</td>\n   </tr>\n\t <tr>\n\t\t<td>unpaidoverdue</td>\n\t\t<td>Retrieves
    all invoices that is unpaid and overdue.</td>\n   </tr>\n\t <tr>\n\t\t<td>unbooked</td>\n\t\t<td>Retrieves
    all invoices that is unbooked.</td>\n   </tr>\n </table>"
    x-displayName: Invoices
  - name: AttachmentResource
    description: |-
      AttachmentResource
      
        Attach/Detach files to entities.
      
        Possible 400 response error codes: no_attachment_provided, mixed_documents, wrong_file_location, wrong_file_type, could_not_retrieve_document,
        file_too_big, too_many_attachments_in_one_request, max_total_attachments_exceeded, attachment_files_max_count_exceeded,
        attachment_files_max_size_exceeded, attachment_files_max_pages_exceeded, field_not_writable, mismatch_attachment_id, missing_mandatory_field
      
        Possible 404 response error codes: file_not_found, document_not_found, attachment_not_found
    x-displayName: Attachment
  - name: OffersResource
    description: |-
      <table>
           <caption>Possible filters on Offers endpoint</caption>
       <tr>
       <td><strong>Filter</strong></td>
       <td><strong>Description</strong></td>
       </tr>
       <tr>
       <td>cancelled</td>
       <td>Retrieves all offers with the status &quot;cancelled&quot;</td>
       </tr>
       <tr>
       <td>expired</td>
       <td>Retrieves all offers that has been expired</td>
       </tr>
       <tr>
       <td>ordercreated</td>
       <td>Retrieves all offers where an order has been created</td>
       </tr>
       <tr>
       <td>ordernotcreated</td>
       <td>Retrieves all offers where an order has not been created</td>
       </tr>
       </table>
    x-displayName: Offers
  - name: SupplierInvoicesResource
    description: "<table>\n     <caption>Possible filters on Supplier Invoice endpoint</caption>\n
    \  <tr>\n\t\t<td><strong>Filter</strong></td>\n\t\t<td><strong>Description</strong></td>\n
    \  </tr>\n   <tr>\n\t\t<td>cancelled</td>\n\t\t<td>Retrieves all invoices with
    the status &quot;cancelled&quot;.</td>\n   </tr>\n   <tr>\n\t\t<td>fullypaid</td>\n\t\t<td>Retrieves
    all invoices that has been fully paid.</td>\n\t </tr>\n\t <tr>\n\t\t<td>unpaid</td>\n\t\t<td>Retrieves
    all invoices that is unpaid.</td>\n   </tr>\n\t <tr>\n\t\t<td>unpaidoverdue</td>\n\t\t<td>Retrieves
    all invoices that is unpaid and overdue.</td>\n   </tr>\n\t <tr>\n\t\t<td>unbooked</td>\n\t\t<td>Retrieves
    all invoices that is unbooked.</td>\n   </tr>\n\t <tr>\n\t\t<td>pendingpayment</td>\n\t\t<td>Retrieves
    all invoices that has PaymentPending=true and is booked.</td>\n   </tr>\n\t <tr>\n\t\t<td>authorizepending</td>\n\t\t<td>Retrieves
    all invoices that has a waiting authorization pending.</td>\n   </tr>\n </table>"
    x-displayName: Supplier Invoices
  - name: AccountsResource
    description: Accounts resources
    x-displayName: Accounts
  - name: AssetFileConnectionResource
    description: Asset file connections resources
    x-displayName: Asset File Connection
  - name: PredefinedAccountsResource
    description: Predefined Accounts resources
    x-displayName: Predefined Accounts
  - name: InvoiceAccrualsResource
    description: Resource for CRUD operations on Invoice Accruals
    x-displayName: Invoice Accruals
  - name: OrdersResource
    description: |-
      <table>
           <caption>Possible filters on Orders endpoint</caption>
       <tr>
       <td><strong>Filter</strong></td>
       <td><strong>Description</strong></td>
       </tr>
       <tr>
       <td>cancelled</td>
       <td>Retrieves all orders with the status &quot;cancelled&quot;</td>
       </tr>
       <tr>
       <td>expired</td>
       <td>Retrieves all orders that has been expired</td>
       </tr>
       <tr>
       <td>invoicecreated</td>
       <td>Retrieves all offers where an invoice has been created</td>
       </tr>
       <tr>
       <td>invoicenotcreated</td>
       <td>Retrieves all orders where an invoice has not been created</td>
       </tr>
       </table>
       For information about how to use filters, please read this article.
    x-displayName: Orders
  - name: UnitsResource
    description: Units resources
    x-displayName: Units
  - name: CompanySettingsResource
    description: Company settings resource
    x-displayName: Company Settings
  - name: EUVatLimitRegulationResource
    description: EU vat limit regulation resources
    x-displayName: EU Vat Limit Regulation
  - name: VouchersResource
    description: Voucher resources
    x-displayName: Vouchers
  - name: ExpensesResource
    description: Expenses resources
    x-displayName: Expenses
  - name: CustomDocumentTypeResource
    description: |-
      Handles types for custom documents.
      
       A custom document is identified by its type and id.
       Each type belongs to a category, either INBOUND or OUTBOUND.
      
       Note that custom document types are created automatically
       if necessary when you create custom documents.
      
       The following <code>referenceTypes</code> are not allowed for
       custom document types. Variants of these containing dashes,
       underscores, lower case, upper case etc are not allowed either.
      
       <ul>
        <li>ARTICLEPRODUCTION</li>
        <li>ARTIKELPRODUKTION</li>
        <li>CUSTOMERINVOICE</li>
        <li>CUSTOMERORDER</li>
        <li>DELIVERYNOTE</li>
        <li>FAKTURA</li>
        <li>FÖLJESEDEL</li>
        <li>INGÅENDESALDO</li>
        <li>INKÖP</li>
        <li>INKÖPSORDER</li>
        <li>INVENTERING</li>
        <li>INVENTORY</li>
        <li>INVOICE</li>
        <li>ITEMPRODUCTION</li>
        <li>KREDITFAKTURA</li>
        <li>KREDITORDER</li>
        <li>KUNDFAKTURA</li>
        <li>KUNDORDER</li>
        <li>LAGERFLYTT</li>
        <li>LEGACYINTEGRATIONIN</li>
        <li>LEGACYINTEGRATIONOUT</li>
        <li>LEVERANTÖRSFAKTURA</li>
        <li>LEVFAKTURA</li>
        <li>MANUALDELIVERY</li>
        <li>MANUALINBOUND</li>
        <li>MANUALINBOUNDDELIVERY</li>
        <li>MANUALOUTBOUND</li>
        <li>MANUALOUTBOUNDDELIVERY</li>
        <li>MANUELLINLEVERANS</li>
        <li>MANUELLLEVERANS</li>
        <li>MANUELLUTLEVERANS</li>
        <li>NEGATIVEOPENINGBALANCES</li>
        <li>NEGATIVTINGÅENDESALDO</li>
        <li>ORDER</li>
        <li>PLOCKLISTA</li>
        <li>POSITIVEOPENINGBALANCES</li>
        <li>PRODUCTION</li>
        <li>PRODUKTION</li>
        <li>PURCHASE</li>
        <li>PURCHASEORDER</li>
        <li>STOCKTAKING</li>
        <li>STOCKTAKINGDEVIATION</li>
        <li>STOCKTRANSFER</li>
        <li>SUPINVOICE</li>
        <li>SUPPLIERINVOICE</li>
       </ul>
    x-displayName: Custom Document Type
  - name: InvoicePaymentsResource
    description: Invoice payments resources
    x-displayName: Invoice Payments
  - name: WayOfDeliveriesResource
    description: Resource for CRUD operations on Way of Deliveries
    x-displayName: Way Of Deliveries
  - name: PurchaseOrderResource
    description: Handles Purchase Orders
    x-displayName: Purchase Order
  - name: ContractAccrualsResource
    description: Contract accruals resources
    x-displayName: Contract Accruals
  - name: PredefinedVoucherSeriesResource
    description: Predefined Voucher Series resources
    x-displayName: Predefined Voucher Series
  - name: ArticlesResource
    description: Articles resources
    x-displayName: Articles
  - name: AssetsResource
    description: |-
      Assets resources
       <table>
           <caption>Possible filters on Assets endpoint</caption>
       <tr>
       <td><strong>Name</strong></td>
       <td><strong>Description</strong></td>
       </tr>
       <tr>
       <td>active</td>
       <td>Retrieves all active assets</td>
       </tr>
       <tr>
       <td>inactive</td>
       <td>Retrieves all inactive assets</td>
       </tr>
       <tr>
       <td>fully_depreciated</td>
       <td>Retrieves all fully depreciated assets</td>
       </tr>
       <tr>
       <td>sold</td>
       <td>Retrieves all sold assets</td>
       </tr>
       <tr>
       <td>scrapped</td>
       <td>Retrieves all scrapped assets</td>
       </tr>
       <tr>
       <td>voided</td>
       <td>Retrieves all voided assets</td>
       </tr>
       </table>
    x-displayName: Assets
  - name: PriceListsResource
    description: Resource for CRUD operations on Pricelists
    x-displayName: Price Lists
  - name: SupplierInvoiceFileConnectionsResource
    description: Resource for CRUD operations on Supplier invoice file connections
    x-displayName: Supplier Invoice File Connections
  - name: TenantResource
    description: Return Warehouse activation status for a tenant.
    x-displayName: Tenant
  - name: AttendanceTransactionsResource
    description: |-
      Attendance transactions resources
       <table>
       <caption>Usable &quot;CauseCodes&quot;</caption>
       <tr><td><strong>Code</strong></td><td><strong>Description</strong></td></tr>
       <tr><td>ARB</td><td>Timlön</td></tr>
       <tr><td>BE2</td><td>Beredskapstid 2</td></tr>
       <tr><td>BER or BE1</td><td>Beredskapstid (BE1 is used in PAXml)</td></tr>
       <tr><td>FLX</td><td>Flextid +/-</td></tr>
       <tr><td>HLG</td><td>Helglön</td></tr>
       <tr><td>JO2 or JR2</td><td>Jourtid 2 (JR2 is used in PAXml)</td></tr>
       <tr><td>JOR or JR1</td><td>Jourtid (JR1 is used in PAXml)</td></tr>
       <tr><td>MER</td><td>Mertid</td></tr>
       <tr><td>OB1</td><td>OB-ersättning 1</td></tr>
       <tr><td>OB2</td><td>OB-ersättning 2</td></tr>
       <tr><td>OB3</td><td>OB-ersättning 3</td></tr>
       <tr><td>OB4</td><td>OB-ersättning 4</td></tr>
       <tr><td>OB5</td><td>OB-ersättning 5</td></tr>
       <tr><td>OK0 or NV9</td><td>Extratid \u2013 Komptid (NV9 is used in PAXml)</td></tr>
       <tr><td>OK1 or ÖK1</td><td>Övertid 1 \u2013 Komptid (ÖK1 is used in PAXml)</td></tr>
       <tr><td>OK2 or ÖK2</td><td>Övertid 2 \u2013 Komptid (ÖK2 is used in PAXml)</td></tr>
       <tr><td>OK3 or ÖK3</td><td>Övertid 3 \u2013 Komptid (ÖK3 is used in PAXml)</td></tr>
       <tr><td>OK4 or ÖK4</td><td>Övertid 4 \u2013 Komptid (ÖK4 is used in PAXml)</td></tr>
       <tr><td>OK5 or ÖK5</td><td>Övertid 5 \u2013 Komptid (ÖK5 is used in PAXml)</td></tr>
       <tr><td>OT1 or ÖT1</td><td>Övertid 1 \u2013 Betalning (ÖT1 is used in PAXml)</td></tr>
       <tr><td>OT2 or ÖT2</td><td>Övertid 2 \u2013 Betalning (ÖT2 is used in PAXml)</td></tr>
       <tr><td>OT3 or ÖT3</td><td>Övertid 3 \u2013 Betalning (ÖT3 is used in PAXml)</td></tr>
       <tr><td>OT4 or ÖT4</td><td>Övertid 4 \u2013 Betalning (ÖT4 is used in PAXml)</td></tr>
       <tr><td>OT5 or ÖT5</td><td>Övertid 5 \u2013 Betalning (ÖT5 is used in PAXml)</td></tr>
       <tr><td>RES or RE1</td><td>Restid (RE1 is used in PAXml)</td></tr>
       <tr><td>TID</td><td>Arbetstid</td></tr>
       </table>
    x-displayName: Attendance Transactions
  - name: ArticleFileConnectionsResource
    description: Article file connections resources
    x-displayName: Article File Connections
  - name: ModesOfPaymentsResource
    description: Resource for the CRUD operations on modes of payments
    x-displayName: Modes Of Payments
  - name: SalaryTransactionsResource
    description: |-
      Salary Transaction resources<br>
       Usable SalaryCodes:<br>
       You can get a list of usable salary codes in the GUI from Register, Lönearter och koder &minus; Lönearter by choosing one of two tables and pressing print.<br>
       Depending on which salary code table (löneartstabell) that is set in the settings (Inställningar, Lön, Avtal för arbetare/tjänsteman &minus; Allmänt) you can choose the salary code to use from either salary code table.<br>
       Make sure to use the correct table that is used for the employee PersonelType you want to sent the salary transaction for. Some salary codes do not exist in every table.
    x-displayName: Salary Transactions
  - name: MeResource
    description: Me resource
    x-displayName: Me
  - name: StockTakingResource
    description: |-
      Handles stock taking.
      
       A Stock Taking document is created in state &quot;planning&quot;.
       Rows, containing item-stockpoint-stocklocation combinations to be counted,
       are added to the Stock Taking document.
      
       When the planning is done, the Stock Taking document is updated to state &quot;started&quot;,
       and the stock taking begins.
      
       Setting the stock taken quantity is done by updating the Stock Taking document, and supplying the
       counted rows. This can be done in &quot;batches&quot;, i.e. not all rows needs to be updated at once.
      
       When the stock taking is done, the document is released. The release process will adjust the stock
       for the stock taking date, and prepare the warehouse bookkeeping data.
    x-displayName: Stock Taking
  - name: ScheduleTimesResource
    description: Schedule times resources
    x-displayName: Schedule Times
paths:
  "/api/warehouse/tenants-v4":
    get:
      tags:
        - TenantResource
      summary: Get Warehouse activation status
      description: Check if current tenant has activated Fortnox Warehouse.
      operationId: getTenant
      responses:
        '200':
          description: Warehouse activation status for the current tenant
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TenantInfo"
  "/api/warehouse/stockpoints-v1":
    get:
      tags:
        - StockPointResource
      summary: List stock points
      description: |-
        List stock points, optionally include a query parameter `q` to filter on stock point code or name.

         Use query param `state` to filter on ACTIVE, INACTIVE or ALL (default is to include only ACTIVE stock points).

         Stock locations are NOT included in the response.
      operationId: getAll
      parameters:
        - name: q
          in: query
          description: filters on stock point code or name.
          schema:
            type: string
        - name: state
          in: query
          description: filter on stock point state
          schema:
            type: string
            enum:
              - ALL
              - ACTIVE
              - INACTIVE
      responses:
        '200':
          description: A list of <code>StockPoints</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockPoint"
    post:
      tags:
        - StockPointResource
      summary: Create stock point
      description: |-
        Both <code>code</code> and <code>name</code> are mandatory.

         If you want to set a custom delivery address for this stock point,
         you must remember to set <code>usingCompanyAddress</code> to <code>false</code>.

         Returns 400 <code>alreadyexists</code> if a stock point with same code already exists.

         Returns 400 <code>duplicatestocklocations</code> if two or more stock locations have the same code.
      operationId: create
      requestBody:
        description: stock point
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StockPoint"
        required: false
      responses:
        '200':
          description: The created <code>StockPoint</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockPoint"
      x-codegen-request-body-name: stockPoint
  "/api/warehouse/stockpoints-v1/multi":
    get:
      tags:
        - StockPointResource
      summary: Get stock points
      description: |-
        Get stock points by IDs.

         Use query param `state` to filter on ACTIVE, INACTIVE or ALL (default is to include ALL stock points).

         Stock locations are NOT included in the response.
      operationId: getMany
      parameters:
        - name: ids
          in: query
          description: stock point ids (comma separated list of UUIDs)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: state
          in: query
          description: filter on <code>StockPointState</code>, default is to include
            ALL stock points.
          schema:
            type: string
            enum:
              - ALL
              - ACTIVE
              - INACTIVE
      responses:
        '200':
          description: A list of <code>StockPoints</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockPoint"
  "/api/warehouse/stockpoints-v1/{id}/stocklocations":
    get:
      tags:
        - StockPointResource
      summary: Get stock locations
      description: |-
        List stock locations for a specific stock point.

         Optionally include a query parameter `q` to filter on stock location code or name.
      operationId: getStockLocationsByAmbiguousId
      parameters:
        - name: id
          in: path
          description: stock point id or code
          required: true
          schema:
            type: string
        - name: q
          in: query
          description: filters on stock location code or name.
          schema:
            type: string
      responses:
        '200':
          description: A list of<code>StockLocations</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockLocation"
  "/api/warehouse/stockpoints-v1/{id}":
    get:
      tags:
        - StockPointResource
      summary: Get stock point
      description: Get stock point by id or code.
      operationId: getByAmbiguousId
      parameters:
        - name: id
          in: path
          description: stock point code, or stock point id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: stock point
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockPoint"
    put:
      tags:
        - StockPointResource
      summary: Update stock point
      description: Remember to supply the complete representation of stock point including
        stock locations.
      operationId: update
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: complete representation of stock point including stock locations.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/StockPoint"
        required: false
      responses:
        '200':
          description: The updated <code>StockPoint</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockPoint"
      x-codegen-request-body-name: stockPoint
    post:
      tags:
        - StockPointResource
      summary: Append stock locations
      description: |-
        Add new stock locations to specific <code>StockPoint</code>.

         If you include an already existing stock location code, it will be ignored.
      operationId: appendStockLocations
      parameters:
        - name: id
          in: path
          description: stock point id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: A list of <code>StockLocations</code> to append.
        content:
          application/json:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/StockLocation"
        required: false
      responses:
        '200':
          description: A list of appended <code>StockLocations</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockLocation"
      x-codegen-request-body-name: stockLocations
    delete:
      tags:
        - StockPointResource
      summary: Delete stock point
      description: Note that it is not allowed to delete a stock point that is in
        use.
      operationId: delete
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The deleted <code>StockPoint</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockPoint"
  "/api/warehouse/purchaseorders-v1":
    get:
      tags:
        - PurchaseOrderResource
      summary: List Purchase Orders
      description: |-
        <p>
             List purchase orders matching the given parameters.
         </p>
         <p>
             Sortable fields:
             <code>id</code>,
             <code>supplier_number</code>,
             <code>order_date</code>,
             <code>internal_reference</code>,
             <code>response_state</code>,
             <code>delivery_date</code>
         </p>
      operationId: getAll_PurchaseOrderResource
      parameters:
        - name: q
          in: query
          description: Include only documents where `id` or `internalReference`-field
            contains the given text (case-insensitive).
          schema:
            type: string
        - name: supplierNumber
          in: query
          description: Include only documents with the given `supplierNumber`.
          schema:
            type: string
        - name: state
          in: query
          description: Include only documents with the given `purchaseOrderState`.
          schema:
            type: string
            enum:
              - NOT_SENT
              - SENT
              - SENT_NOT_REJECTED
              - DELAYED
              - RECEIVED
              - VOIDED
              - CURRENT
              - ALL
        - name: itemId
          in: query
          description: Include only documents with the given `itemId`.
          schema:
            type: string
        - name: purchaseType
          in: query
          description: Include only documents with the given `purchaseType`
          schema:
            type: string
            enum:
              - WAREHOUSE
              - DROPSHIP
        - name: internalReference
          in: query
          description: Include only documents where `internalReference' contains the
            given text (case-insensitive).
          schema:
            type: string
        - name: note
          in: query
          description: Include only documents where `note`-field contains the given
            text (case-insensitive).
          schema:
            type: string
      responses:
        '200':
          description: A list of <code>PurchaseOrders</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PurchaseOrder"
    post:
      tags:
        - PurchaseOrderResource
      summary: Create Purchase Order
      operationId: create_PurchaseOrderResource
      requestBody:
        description: "<code>PurchaseOrder</code> document."
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/PurchaseOrder"
        required: false
      responses:
        '200':
          description: The created <code>PurchaseOrder</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PurchaseOrder"
      x-codegen-request-body-name: purchaseOrder
  "/api/warehouse/purchaseorders-v1/csv":
    get:
      tags:
        - PurchaseOrderResource
      summary: Get CSV list of Purchase Orders
      operationId: getCsvReport
      parameters:
        - name: q
          in: query
          description: Include only documents where `id` or `internalReference`-field
            contains the given text (case-insensitive).
          schema:
            type: string
        - name: supplierNumber
          in: query
          description: Include only documents with the given `supplierNumber`.
          schema:
            type: string
        - name: state
          in: query
          description: Include only documents with the given `purchaseOrderState`.
          schema:
            type: string
            enum:
              - NOT_SENT
              - SENT
              - SENT_NOT_REJECTED
              - DELAYED
              - RECEIVED
              - VOIDED
              - CURRENT
              - ALL
        - name: itemId
          in: query
          description: Include only documents with the given `itemId`.
          schema:
            type: string
        - name: purchaseType
          in: query
          description: Include only documents with the given `purchaseType`
          schema:
            type: string
            enum:
              - WAREHOUSE
              - DROPSHIP
        - name: internalReference
          in: query
          description: Include only documents where `internalReference' contains the
            given text (case-insensitive).
          schema:
            type: string
        - name: note
          in: query
          description: Include only documents where `note`-field contains the given
            text (case-insensitive).
          schema:
            type: string
        - name: showPurchaseTypeColumn
          in: query
          description: True to include the purchase type column, default is false.
          schema:
            type: boolean
      responses:
        '200':
          description: A list of <code>PurchaseOrders</code>.
          content:
            text/csv:
              schema:
                type: string
  "/api/warehouse/purchaseorders-v1/{id}/response":
    put:
      tags:
        - PurchaseOrderResource
      summary: Update response state
      operationId: updateResponseState
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The new response state.
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/ResponseStateChange"
        required: false
      responses:
        '200':
          description: The updated <code>PurchaseOrder</code>
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PurchaseOrder"
      x-codegen-request-body-name: responseStateChange
  "/api/warehouse/purchaseorders-v1/{id}/complete":
    put:
      tags:
        - PurchaseOrderResource
      summary: Manually complete Purchase Order
      description: |-
        The purchase order will be treated as fully received.
         Any remaining quantity will be ignored.
      operationId: setManuallyCompleted
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/purchaseorders-v1/{id}/dropshipcomplete":
    put:
      tags:
        - PurchaseOrderResource
      summary: Manually complete dropship order
      description: |-
        The dropship order will be treated as fully received.
         Any remaining quantity will be ignored.
      operationId: setDropshipManuallyCompleted
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "<code>ReleaseParentOrder</code> status for release of parent
            order"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReleaseParentOrder"
  "/api/warehouse/purchaseorders-v1/response":
    put:
      tags:
        - PurchaseOrderResource
      summary: Update response states
      operationId: batchUpdateResponseState
      parameters:
        - name: ids
          in: query
          description: List of purchase order ids.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
      requestBody:
        description: The new response state.
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/ResponseStateChange"
        required: false
      responses:
        '200':
          description: a list of the updated <code>PurchaseOrders</code>
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PurchaseOrder"
      x-codegen-request-body-name: responseStateChange
  "/api/warehouse/purchaseorders-v1/{id}":
    get:
      tags:
        - PurchaseOrderResource
      summary: Get Purchase Order
      operationId: get
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
        - name: ignoreIncomingGoodsId
          in: query
          description: used for calculating the remaining ordered quantity. null will
            take the received quantity from all incoming goods
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The <code>PurchaseOrder</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PurchaseOrder"
    put:
      tags:
        - PurchaseOrderResource
      summary: Update Purchase Order
      operationId: update_PurchaseOrderResource
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The <code>PurchaseOrder</code> document.
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/PurchaseOrder"
        required: false
      responses:
        '200':
          description: The updated <code>PurchaseOrder</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PurchaseOrder"
      x-codegen-request-body-name: purchaseOrder
  "/api/warehouse/purchaseorders-v1/{id}/send":
    post:
      tags:
        - PurchaseOrderResource
      summary: Send purchase order via email
      description: Sends the purchase order with the specified <code>id</code> to
        the recipient and sets the purchase order state to SENT
      operationId: sendPurchaseOrder
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: see <code>PurchaseOrderMailSettings</code>
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/PurchaseOrderMailSettings"
        required: false
      responses:
        default:
          description: the <code>PurchaseOrder</code>
          content: { }
      x-codegen-request-body-name: settings
  "/api/warehouse/purchaseorders-v1/sendpurchaseorders":
    post:
      tags:
        - PurchaseOrderResource
      summary: Sends multiple purchase orders via email
      operationId: sendPurchaseOrders
      requestBody:
        description: List of Purchase order ids.
        content:
          "*/*":
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: false
      responses:
        default:
          description: Nothing.
          content: { }
      x-codegen-request-body-name: purchaseOrderIds
  "/api/warehouse/purchaseorders-v1/{id}/void":
    put:
      tags:
        - PurchaseOrderResource
      summary: Void Purchase Order
      operationId: voidDocument
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/purchaseorders-v1/{id}/matches":
    get:
      tags:
        - PurchaseOrderResource
      summary: List matched documents
      description: Get a list of <code>DocumentReference</code> of linked/connected
        purchase orders to incoming goods and/or invoice document.
      operationId: getMatchedDocuments
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: list of document references
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/DocumentReference"
  "/api/warehouse/purchaseorders-v1/{id}/notes":
    get:
      tags:
        - PurchaseOrderResource
      summary: Get notes
      description: Get notes for a purchase order.
      operationId: getAttachedNotes
      parameters:
        - name: id
          in: path
          description: Purchase order id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A list of <code>PurchaseOrderRowNotes</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PurchaseOrderRowNote"
  "/api/warehouse/documentdeliveries/custom/outbound-v1/{type}/{id}":
    get:
      tags:
        - CustomOutboundDocumentResource
      summary: Get custom outbound document
      operationId: get_CustomOutboundDocumentResource
      parameters:
        - name: type
          in: path
          description: document type
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: document id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: the fetched <code>CustomOutboundDocument</code>
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomOutboundDocument"
    put:
      tags:
        - CustomOutboundDocumentResource
      summary: Save a custom outbound document
      description: |-
        <br>
         If type is not known, it will be registered as belonging to the OUTBOUND category.<br>
         If type is an existing custom document type of category INBOUND an error is thrown.<br>
         If type is invalid an error is thrown.<br>
      operationId: save
      parameters:
        - name: type
          in: path
          description: the type of the custom outbound document, min 1 character, max
            25 characters, may contain letters A-Z, digits 0-9, underscore (_), and
            dash (-). Always stored as upper case.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: the id of the custom outbound document, min 1 character, max
            25 characters, may only contain digits 0-9
          required: true
          schema:
            type: string
      requestBody:
        description: the <code>CustomOutboundDocument</code> to create
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CustomOutboundDocument"
        required: false
      responses:
        '200':
          description: the stored <code>CustomOutboundDocument</code>
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomOutboundDocument"
      x-codegen-request-body-name: document
  "/api/warehouse/documentdeliveries/custom/outbound-v1/{type}/{id}/release":
    put:
      tags:
        - CustomOutboundDocumentResource
      summary: Release custom outbound document
      operationId: release
      parameters:
        - name: type
          in: path
          description: document type
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: document id
          required: true
          schema:
            type: string
      responses:
        default:
          description: no content
          content: { }
  "/api/warehouse/documentdeliveries/custom/outbound-v1/{type}/{id}/void":
    put:
      tags:
        - CustomOutboundDocumentResource
      summary: Void custom outbound document
      operationId: voidDocument_CustomOutboundDocumentResource
      parameters:
        - name: type
          in: path
          description: document type
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: document id
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: true if the document should be voided even if the document has
            connected outbounds, defaults to false.
          schema:
            type: boolean
      responses:
        default:
          description: no content
          content: { }
  "/api/warehouse/documentdeliveries/custom/inbound-v1/{type}/{id}":
    get:
      tags:
        - CustomInboundDocumentResource
      summary: Get custom inbound document
      operationId: get_CustomInboundDocumentResource
      parameters:
        - name: type
          in: path
          description: Document type.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Document id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The <code>CustomInboundDocument</code>.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomInboundDocument"
    put:
      tags:
        - CustomInboundDocumentResource
      summary: Save custom inbound document
      operationId: save_CustomInboundDocumentResource
      parameters:
        - name: type
          in: path
          description: |-
            min 1 character, max 25 characters, may contain letters A-Z, digits 0-9, underscore (_), and dash (-), type is case-insensitive
             <blockquote><pre>
                  Type is a custom name/reference of the document that will be used to reference the document type <br>
                  * If type is not known, it will be registered as belonging to the INBOUND category. <br>
                  * If type is an existing custom document type of category OUTBOUND an error is thrown. <br>
                  * If type is invalid an error is thrown. <br>
             </pre></blockquote>
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: min 1 character, max 25 characters, may only contain digits 0-9
          required: true
          schema:
            type: string
      requestBody:
        description: the <code>CustomInboundDocument</code> to create
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CustomInboundDocument"
        required: false
      responses:
        '200':
          description: the stored <code>CustomInboundDocument</code>
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomInboundDocument"
      x-codegen-request-body-name: document
  "/api/warehouse/documentdeliveries/custom/inbound-v1/{type}/{id}/release":
    put:
      tags:
        - CustomInboundDocumentResource
      summary: Release custom inbound document
      description: |-
        The document will be locked and bookkept.
         The inbound deliveries will affect available stock.
      operationId: release_CustomInboundDocumentResource
      parameters:
        - name: type
          in: path
          description: document type
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: document id
          required: true
          schema:
            type: string
      responses:
        default:
          description: no content
          content: { }
  "/api/warehouse/documentdeliveries/custom/inbound-v1/{type}/{id}/void":
    put:
      tags:
        - CustomInboundDocumentResource
      summary: Void custom inbound document
      description: |-
        Voiding a document will undo the possible stock changes that the document had made,
         note that the document and the transactions created are not deleted. Some limitations apply, see below.
      operationId: voidDocument_CustomInboundDocumentResource
      parameters:
        - name: type
          in: path
          description: document type
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: document id
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: true if the document should be voided even if the document has
            connected outbounds, defaults to false.
          schema:
            type: boolean
      responses:
        default:
          description: no content
          content: { }
  "/api/warehouse/documentdeliveries/custom/documenttypes-v1":
    get:
      tags:
        - CustomDocumentTypeResource
      summary: List custom document types
      operationId: getAll_CustomDocumentTypeResource
      responses:
        '200':
          description: A list of <code>CustomDocumentTypes</code>
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CustomDocumentType"
    post:
      tags:
        - CustomDocumentTypeResource
      summary: Create custom document type
      description: |-
        Create type, if it doesn't already exists. Note that new custom document types are
         created automatically when you create custom documents, so normally
         you do not need to call this method.

         Throws HTTP 400 <code>referenceTypeNotAllowed</code> if the name of the type is not allowed.
      operationId: create_CustomDocumentTypeResource
      requestBody:
        description: The <code>CustomDocumentType</code>.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CustomDocumentType"
        required: false
      responses:
        '200':
          description: "`1` if created, else `0` if type already exists."
          content:
            application/json:
              schema:
                type: integer
                format: int32
      x-codegen-request-body-name: customDocumentType
  "/api/warehouse/documentdeliveries/custom/documenttypes-v1/{type}":
    get:
      tags:
        - CustomDocumentTypeResource
      summary: Get custom document type
      operationId: get_CustomDocumentTypeResource
      parameters:
        - name: type
          in: path
          description: the name of the reference type
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A <code>CustomDocumentType</code>
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomDocumentType"
  "/api/warehouse/incominggoods-v1/{id}":
    get:
      tags:
        - IncomingGoodsResource
      summary: Get Incoming Goods document
      operationId: get_IncomingGoodsResource
      parameters:
        - name: id
          in: path
          description: Incoming goods document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: ignoreSupplierInvoiceId
          in: query
          description: This Supplier Invoice id will be excluded when calculating the
            takenQuantity.
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The <code>IncomingGoods</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IncomingGoods"
    put:
      tags:
        - IncomingGoodsResource
      summary: Update Incoming Goods document
      operationId: save_IncomingGoodsResource
      parameters:
        - name: id
          in: path
          description: Incoming goods document id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The <code>IncomingGoods</code> document.
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/IncomingGoods"
        required: false
      responses:
        '200':
          description: The updated <code>IncomingGoods</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IncomingGoods"
      x-codegen-request-body-name: incomingGoods
  "/api/warehouse/incominggoods-v1/":
    get:
      tags:
        - IncomingGoodsResource
      summary: List Incoming Goods Documents
      description: |-
        <p>
             List incoming goods documents matching the given parameters.
         </p>
         <p>
             Sortable fields:
             <code>id</code>,
             <code>has_delivery_note</code>,
             <code>delivery_note_id</code>,
             <code>supplier_number</code>,
             <code>date</code>
         </p>
      operationId: getAll_IncomingGoodsResource
      parameters:
        - name: released
          in: query
          description: |-
            `true` to include only released documents.
             `false` to include only non-released documents.
          schema:
            type: boolean
        - name: completed
          in: query
          description: |-
            `true` to include only completed documents.
             `false` to include only non-completed documents.
          schema:
            type: boolean
        - name: voided
          in: query
          description: |-
            `true` to include only voided documents.
             `false` to include only non-voided documents.
          schema:
            type: boolean
        - name: supplierNumber
          in: query
          description: Include only documents with the given `supplierNumber`.
          schema:
            type: string
        - name: itemId
          in: query
          description: Include only documents with the given `itemId`.
          schema:
            type: string
        - name: note
          in: query
          description: Include only documents where `note`-field contains the given
            text (case-insensitive).
          schema:
            type: string
        - name: deliveryNote
          in: query
          description: Include only documents where `deliveryNote`-field contains the
            given text (case-insensitive).
          schema:
            type: string
        - name: q
          in: query
          description: Include only documents where `id` or `deliveryNote`-field contains
            the given text (case-insensitive).
          schema:
            type: string
      responses:
        '200':
          description: A list of <code>IncomingGoods</code> documents.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/IncomingGoodsListRow"
    post:
      tags:
        - IncomingGoodsResource
      summary: Create Incoming Goods document
      operationId: create_IncomingGoodsResource
      requestBody:
        description: The <code>IncomingGoods</code> document.
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/IncomingGoods"
        required: false
      responses:
        '200':
          description: The created <code>IncomingGoods</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IncomingGoods"
      x-codegen-request-body-name: incomingGoods
  "/api/warehouse/incominggoods-v1/{id}/release":
    put:
      tags:
        - IncomingGoodsResource
      summary: Release Incoming Goods document
      description: |-
        The document will be locked and bookkept.
         The inbound deliveries will affect available stock.
      operationId: release_IncomingGoodsResource
      parameters:
        - name: id
          in: path
          description: Incoming goods document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/incominggoods-v1/{id}/completed":
    put:
      tags:
        - IncomingGoodsResource
      summary: Complete Incoming Goods document
      description: |-
        Mark a released Incoming Goods document as Completed.
         Bookkeeping will be finalized.
         A Completed Incoming Goods document cannot be matched against
         any more Supplier Invoices.
      operationId: completed
      parameters:
        - name: id
          in: path
          description: Incoming goods document id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Date for bookkeeping in format `"YYYY-MM-DD"`. Must be between
          document's release date (inclusive) and today's date (inclusive).
        content:
          "*/*":
            schema:
              type: string
        required: false
      responses:
        default:
          description: Nothing.
          content: { }
      x-codegen-request-body-name: bookingDate
  "/api/warehouse/incominggoods-v1/{id}/void":
    put:
      tags:
        - IncomingGoodsResource
      summary: Void Incoming Goods document
      description: |-
        Void a document.
         If an Incoming Goods document has been Completed, or matched against
         Supplier Invoice, it cannot be voided.
      operationId: voidDocument_IncomingGoodsResource
      parameters:
        - name: id
          in: path
          description: Incoming goods document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/status-v1/stockbalance":
    get:
      tags:
        - StockStatusResource
      summary: Get stock balance
      description: |-
        Get stock balance for one or more items for each stockpoint
         with (inbound- or outbound-) deliveries.

         Returns a list of <code>itemId</code>, <code>stockPointCode</code>,
         <code>availableStock</code>, <code>inStock</code>.

         (The difference between <code>availableStock</code> and <code>inStock</code>
         is the reserved amount.)
      operationId: getStockBalance
      parameters:
        - name: itemIds
          in: query
          description: A comma-separated list of itemIds.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockPointCodes
          in: query
          description: Optional filter on stock point codes (comma-separated).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A list of <code>StockBalances</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockBalance"
  "/api/warehouse/stocktaking-v1":
    get:
      tags:
        - StockTakingResource
      summary: List stock takings
      description: |-
        <p>
             Sortable fields:
             <code>id</code>,
             <code>name</code>,
             <code>date</code>,
             <code>responsible</code>,
             <code>state</code>
         </p>
      operationId: getAll_StockTakingResource
      parameters:
        - name: state
          in: query
          description: Include only stock takings with the given state.
          schema:
            type: string
            enum:
              - all
              - planning
              - started
              - completed
              - voided
        - name: itemId
          in: query
          description: Include only stock takings with the given item.
          schema:
            type: string
      responses:
        '200':
          description: A list of <code>StockTakings</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockTaking"
    post:
      tags:
        - StockTakingResource
      summary: Create stock taking
      description: |-
        Create a new Stock Taking document.
         The only mandatory fields are <code>name</code> and <code>responsible</code>.
         <code>state</code> will be set to <code>planning</code> for a newly created document.

         The <code>date</code>-field is not mandatory for documents in state <code>planning</code>.
         However, when you update the state to <code>started</code> you have to provide a date.

         <code>name</code> is a descriptive name of the stock taking.

         <code>responsible</code> is the name of the responsible for the stock taking.

         <code>rows</code> are added after creation by using the addRows-method.

         <code>projectId</code> and <code>costCenterCode</code> are used for book-keeping, when the
         Stock Taking document is released.

         The field <code>usingStockPoints</code> is set from Warehouse system settings upon creation.
         If multiple stockpoints is used, then the rows will be per item-stockPoint-stockLocation.
         If multiple stockpoints is NOT used, then the rows will be per item-stockLocation.
      operationId: create_StockTakingResource
      requestBody:
        description: stock taking
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/StockTaking"
        required: false
      responses:
        '200':
          description: the created stock taking
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockTaking"
      x-codegen-request-body-name: stockTaking
  "/api/warehouse/stocktaking-v1/{id}":
    get:
      tags:
        - StockTakingResource
      summary: Get Stock Taking document
      operationId: get_StockTakingResource
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The <code>StockTaking</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockTaking"
    put:
      tags:
        - StockTakingResource
      summary: Update a stock taking
      description: |-
        Updates can only be done when state is <code>planning</code> or <code>started</code>.

         All updatable fields (<code>date</code>, <code>name</code>, <code>responsible</code>,
         <code>state</code>, <code>sortingId</code>, <code>costCenterCode</code>, <code>projectId</code>)
         in the document head are set to supplied values.

         You cannot set <code>state</code> to <code>completed</code> or <code>voided</code>. Use endpoints
         release or void for this.

         The <code>date</code>-field is mandatory for documents in state <code>started</code>.

         When state is <code>started</code> you use this endpoint for setting the stock taken quantity.
         Only existing rows can be updated - no new rows will be created (use the addRows endpoint for this).
         Only the supplied rows will be updated. I.e. you don't have to send in <strong>all</strong>
         document rows - just supply the rows you want to set stockTakenQuantity for. Just make sure
         to always include all the fields from the document head as mentioned above.

         The mandatory fields on the (optionally supplied) rows are: <code>itemId</code>,
         <code>stockPointId</code>, <code>stockLocationId</code>.
         Fields <code>countedBy</code> and <code>stockTakenQuantity</code> are technically
         not mandatory, but will be set to null if you don't supply them.
      operationId: update_StockTakingResource
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: stock taking
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/StockTaking"
        required: false
      responses:
        '200':
          description: The <code>StockTaking</code> document.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StockTaking"
      x-codegen-request-body-name: stockTaking
    delete:
      tags:
        - StockTakingResource
      summary: Delete Stock Taking document
      description: |-
        Permanently deletes a Stock Taking document and its rows.

         Only for documents in state <code>planning</code> and <code>started</code>.
      operationId: deleteStockTaking
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/stocktaking-v1/{id}/release":
    put:
      tags:
        - StockTakingResource
      summary: Release Stock Taking document
      description: |-
        The document will be locked and bookkept.
         The Stock Taking document state will be set to <code>completed</code>.
         The stock amount will be adjusted according to the stock taken quantity.
      operationId: release_StockTakingResource
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/stocktaking-v1/{id}/void":
    put:
      tags:
        - StockTakingResource
      summary: Void Stock Taking document
      description: |-
        Sets the Stock Taking document state to <code>voided</code>.

         Only documents in state <code>planning</code> and <code>started</code>
         can be voided. A <code>completed</code> document may not be voided.
      operationId: voidStockTaking
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: Nothing.
          content: { }
  "/api/warehouse/stocktaking-v1/{id}/candidates":
    get:
      tags:
        - StockTakingResource
      summary: Get candidate rows
      description: |-
        A candidate row is a combination of itemId, stockPointId and stockLocationId
         that can be added to the Stock Taking document.

         Rows already added to the Stock Taking are excluded from this list.
      operationId: getCandidateRows
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: itemIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supplierNumbers
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockPointIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockLocationIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: transactionDate
          in: query
          schema:
            type: string
            format: date
        - name: itemIdSearch
          in: query
          schema:
            type: string
        - name: itemDescriptionSearch
          in: query
          schema:
            type: string
        - name: excludeZeroBalanceItems
          in: query
          schema:
            type: boolean
        - name: includeNonInboundItems
          in: query
          description: Include items that do not exist on inbound deliveries.
          schema:
            type: boolean
      responses:
        '200':
          description: A list of <code>StockTakingRows</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockTakingRow"
  "/api/warehouse/stocktaking-v1/{id}/rows":
    get:
      tags:
        - StockTakingResource
      summary: Get Stock Taking Rows
      operationId: getRows
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: itemIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supplierNumbers
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockPointIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockLocationIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: transactionDate
          in: query
          schema:
            type: string
            format: date
        - name: itemIdSearch
          in: query
          schema:
            type: string
        - name: itemDescriptionSearch
          in: query
          schema:
            type: string
        - name: excludeZeroBalanceItems
          in: query
          schema:
            type: boolean
        - name: secondarysortby
          in: query
          description: Secondary sorting column
          schema:
            type: string
        - name: secondaryorder
          in: query
          description: Secondary sorting order
          schema:
            type: string
        - name: stateFilter
          in: query
          schema:
            type: string
            enum:
              - all
              - notStockTaken
              - stockTakenNoDeviation
              - stockTakenWithDeviation
        - name: startingRowNo
          in: query
          description: the row number to start the search from, used with startingItemId
            to jump to specific rows, can be empty
          schema:
            type: integer
            format: int32
        - name: startingItemId
          in: query
          description: the itemId that should be on top of the rows list (used to jump
            to specific row), can be empty
          schema:
            type: string
      responses:
        '200':
          description: A list of <code>StockTakingRows</code>.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/StockTakingRow"
    post:
      tags:
        - StockTakingResource
      summary: Add rows
      description: |-
        Add rows to a stock taking.
         If you add an already existing row noting happens.
      operationId: addStockTakingRows
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: A list of <code>StockTakingRows</code>.
        content:
          "*/*":
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/StockTakingRow"
        required: false
      responses:
        default:
          description: Nothing.
          content: { }
      x-codegen-request-body-name: rows
    delete:
      tags:
        - StockTakingResource
      summary: Delete rows by filter
      description: Remove all rows matching the filter parameters from the Stock Taking
        document.
      operationId: deleteStockTakingRowByFilter
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: itemIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supplierNumbers
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockPointIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockLocationIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: transactionDate
          in: query
          schema:
            type: string
            format: date
        - name: itemIdSearch
          in: query
          schema:
            type: string
        - name: itemDescriptionSearch
          in: query
          schema:
            type: string
        - name: excludeZeroBalanceItems
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: number of deleted rows
          content:
            application/json:
              schema:
                type: integer
                format: int32
  "/api/warehouse/stocktaking-v1/{id}/addrows":
    post:
      tags:
        - StockTakingResource
      summary: Add rows by filter
      description: Add all matching candidate rows to a stock taking, as specified
        by filters.
      operationId: addStockTakingRowsByFilter
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: itemIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supplierNumbers
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockPointIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: stockLocationIds
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: transactionDate
          in: query
          schema:
            type: string
            format: date
        - name: itemIdSearch
          in: query
          schema:
            type: string
        - name: itemDescriptionSearch
          in: query
          schema:
            type: string
        - name: excludeZeroBalanceItems
          in: query
          schema:
            type: boolean
        - name: excludeNonInboundItems
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Number of added rows.
          content:
            application/json:
              schema:
                type: integer
                format: int32
  "/api/warehouse/stocktaking-v1/{id}/rows/{rowId}":
    delete:
      tags:
        - StockTakingResource
      summary: Delete row
      description: Remove single row by id from the Stock Taking document.
      operationId: deleteStockTakingRow
      parameters:
        - name: id
          in: path
          description: Stock Taking document id.
          required: true
          schema:
            type: integer
            format: int64
        - name: rowId
          in: path
          description: row id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Number of deleted rows (1)
          content:
            application/json:
              schema:
                type: integer
                format: int32
  "/3/absencetransactions":
    get:
      tags:
        - AbsenceTransactionsResource
      summary: Lists all absence transactions
      description: Supports query-string parameters <strong>employeeid</strong> and
        <strong>date</strong> for filtering the result.
      operationId: list
      parameters:
        - name: employeeid
          in: query
          description: filter by employee id
          schema:
            type: string
        - name: date
          in: query
          description: filter by date
          schema:
            type: string
      responses:
        '200':
          description: a list of absence transactions
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionListItem_Wrap"
    post:
      tags:
        - AbsenceTransactionsResource
      summary: Create a new absence transaction
      operationId: create_AbsenceTransactionsResource
      requestBody:
        description: to create
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/AbsenceTransactionPayload_Wrap"
        required: false
      responses:
        '200':
          description: the created absence transaction
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionSingleItem_Wrap"
      x-codegen-request-body-name: absenceTransactionsPayload
  "/3/absencetransactions/{id}":
    get:
      tags:
        - AbsenceTransactionsResource
      summary: Retrieve a specific absence transaction
      description: Retrieves a specific transaction
      operationId: get_AbsenceTransactionsResource
      parameters:
        - name: id
          in: path
          description: identifies the transaction
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: the absence transaction
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionSingleItem_Wrap"
    put:
      tags:
        - AbsenceTransactionsResource
      summary: Update a single absence transaction
      operationId: update_AbsenceTransactionsResource
      parameters:
        - name: id
          in: path
          description: identifies the transaction
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: to update
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/AbsenceTransactionPayload_Wrap"
        required: false
      responses:
        '200':
          description: the updated absence transaction
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionSingleItem_Wrap"
      x-codegen-request-body-name: absenceTransactionsPayload
    delete:
      tags:
        - AbsenceTransactionsResource
      summary: Delete an absence transaction
      operationId: remove
      parameters:
        - name: id
          in: path
          description: identifies the transaction
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: empty
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionSingleItem_Wrap"
  "/3/absencetransactions/{EmployeeId}/{Date}/{Code}":
    get:
      tags:
        - AbsenceTransactionsResource
      summary: Retrieve absence transactions
      description: Retrieves a list of absence transactions for an employee on a specific
        date and cause code.
      operationId: get_AbsenceTransactionsResource_1
      parameters:
        - name: EmployeeId
          in: path
          description: identifies the employee
          required: true
          schema:
            type: string
        - name: Date
          in: path
          description: of the absence transaction
          required: true
          schema:
            type: string
            format: date
        - name: Code
          in: path
          description: status code of the absence transaction
          required: true
          schema:
            type: string
            enum:
              - ASK
              - FPE
              - FRA
              - HAV
              - KOM
              - MIL
              - NAR
              - OS1
              - OS2
              - OS3
              - OS4
              - OS5
              - PAP
              - PEM
              - PER
              - SEM
              - SJK
              - SMB
              - SVE
              - TJL
              - UTB
              - VAB
      responses:
        '200':
          description: a list of absence transactions
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AbsenceTransactionListItem_Wrap"
  "/3/accountcharts":
    get:
      tags:
        - AccountChartsResource
      summary: List all account charts
      description: Retrieves a list of all the available account charts.
      operationId: list_AccountChartsResource
      responses:
        '200':
          description: a list of account charts
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountChart_Wrap"
  "/3/accounts/{Number}":
    get:
      tags:
        - AccountsResource
      summary: Retrieve an account
      description: Retrieves the details of an account. You need to supply the unique
        account number that was returned when the account was created or retrieved
        from the list of accounts.
      operationId: get_AccountsResource
      parameters:
        - name: Number
          in: path
          description: identifies the account
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: the existing account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountSingleItem_Wrap"
    put:
      tags:
        - AccountsResource
      summary: Update an account
      description: |-
        Updates the specified account with the values provided in the properties. Any property not provided will be left unchanged.
         Note that even though the account number is writeable you can&acute;t change the number of an existing account.
      operationId: update_AccountsResource
      parameters:
        - name: Number
          in: path
          description: identifies the account
          required: true
          schema:
            type: integer
            format: int32
        - name: financialyear
          in: query
          description: financial year to update account against
          schema:
            type: integer
            format: int32
      requestBody:
        description: account to update
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/AccountPayload_Wrap"
        required: false
      responses:
        '200':
          description: the updated account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountSingleItem_Wrap"
      x-codegen-request-body-name: accountPayload
  "/3/accounts/":
    get:
      tags:
        - AccountsResource
      summary: List all accounts
      description: The accounts are returned sorted by account number with the lowest
        number appearing first.
      operationId: list_AccountsResource
      parameters:
        - name: lastmodified
          in: query
          schema:
            type: string
        - name: sru
          in: query
          schema:
            type: integer
            format: int32
        - name: sortby
          in: query
          description: field to sort returned list on
          schema:
            type: string
            enum:
              - number
      responses:
        '200':
          description: list of accounts
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountListItem_Wrap"
    post:
      tags:
        - AccountsResource
      summary: Create an account
      description: The created account will be returned if everything succeeded, if
        there was any problems an error will be returned.
      operationId: create_AccountsResource
      parameters:
        - name: financialyear
          in: query
          description: financial year to create account against
          schema:
            type: integer
            format: int32
      requestBody:
        description: account to create
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/AccountPayload_Wrap"
        required: false
      responses:
        '200':
          description: the created account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountSingleItem_Wrap"
      x-codegen-request-body-name: accountPayload
  "/3/archive/":
    get:
      tags:
        - ArchiveResource
      summary: Retrieve folder or file
      description: |-
        If no path is provided the root will be returned.
         Providing fileId will return given file from fileattachments.
      operationId: getFolder
      parameters:
        - name: path
          in: query
          description: name of folder
          schema:
            type: string
        - name: fileid
          in: query
          description: fileId from fileattachments
          schema:
            type: string
      responses:
        '200':
          description: a single folder
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Folder_Wrap"
    post:
      tags:
        - ArchiveResource
      summary: Upload a file to a specific subdirectory
      description: If not path or folderId is provided, the file will be uploaded
        to the root directory.
      operationId: uploadFile
      parameters:
        - name: path
          in: query
          description: name of folder
          schema:
            type: string
        - name: folderid
          in: query
          description: id of folder
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: object
                  description: file to uplad
      responses:
        '200':
          description: the uploaded file
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Folder_FileRow_Wrap"
    delete:
      tags:
        - ArchiveResource
      summary: Remove files
      description: Please note that removing a folder will also resulting in removal
        of all the contents within!
      operationId: removeByPath
      parameters:
        - name: path
          in: query
          description: identifies file/folder to remove
          schema:
            type: string
      responses:
        default:
          description: empty
          content: { }
  "/3/archive/{id}":
    get:
      tags:
        - ArchiveResource
      summary: Retrieve a single file
      description: Providing fileId will return given file from fileattachments.
      operationId: getFileById
      parameters:
        - name: id
          in: path
          description: identifies the file
          required: true
          schema:
            type: string
        - name: fileid
          in: query
          description: fileId from fileattachments
          schema:
            type: string
      responses:
        '200':
          description: a single file
          content:
            "*/*":
              schema:
                type: string
                format: byte
    delete:
      tags:
        - ArchiveResource
      summary: Delete a single file
      operationId: removeById
      parameters:
        - name: id
          in: path
          description: identifies file/folder to remove
          required: true
          schema:
            type: string
      responses:
        default:
          description: empty
          content: { }
  "/3/articlefileconnections/":
    get:
      tags:
        - ArticleFileConnectionsResource
      summary: Retrieve a list of article file connections
      description: The article file connections register can return a list of records
        or a single record. By specifying a FileId in the URL, a single record will
        be returned. Not specifying a FileId will return a list of records.
      operationId: list_ArticleFileConnectionsResource
      responses:
        '200':
          description: a list of article file connections.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ArticleFileConnectionListItem_Wrap"
    post:
      tags:
        - ArticleFileConnectionsResource
      summary: Create an article file connection
      operationId: create_ArticleFileConnectionsResource
      requestBody:
        description: to create
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/ArticleFileConnection_Wrap"
        required: false
      responses:
        '200':
          description: the created article file connection
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ArticleFileConnection_Wrap"
      x-codegen-request-body-name: articleFileConnection
  "/3/articlefileconnections/{FileId}":
    get:
      tags:
        - ArticleFileConnectionsResource
      summary: Retrieve a single article file connection
      operationId: get_ArticleFileConnectionsResource
      parameters:
        - name: FileId
          in: path
          description: identifies the article file connection
          required: true
          schema:
            type: string
      responses:
        '200':
          description: the existing article file connection
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ArticleFileConnection_Wrap"
    delete:
      tags:
        - ArticleFileConnectionsResource
      summary: Remove an article file connection
      operationId: remove_ArticleFileConnectionsResource
      parameters:
        - name: FileId
          in: path
          description: identifies the article file connection
          required: true
          schema:
            type: string
      responses:
        default:
          description: empty
          content: { }
  "/3/articles/{ArticleNumber}":
    get:
      tags:
        - ArticlesResource
      summary: Retrieve an article
      description: Retrieves the details of an article. You need to supply the unique
        article number that was returned when the article was created or retrieved
        from the list of articles.
      operationId: get_ArticlesResource
      parameters:
        - name: ArticleNumber
          in: path
          description: identifies the article
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: the existing article
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Article_Wrap"
    put:
      tags:
        - ArticlesResource
      summary: Update an article
      description: |-
        Updates the specified article with the values provided in the properties. Any property not provided will be left unchanged.
         You need to supply the unique article number that was returned when the article was created or retrieved from the list of articles.
         Note that even though the article number is writeable you can not change the number of an existing article.
      operationId: update_ArticlesResource
      parameters:
        - name: ArticleNumber
          in: path
          description: identifies the article
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: to update
        content:
          "*/*":
            schema:
              "$ref": "#/components/schemas/Article_Wrap"
        required: false
      responses:
        '200':
          description: the updated article
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Article_Wrap"
      x-codegen-request-body-name: article
    delete:
      tags:
        - ArticlesResource
      summary: Delete an article
      description: |-
        <p>Deletes the article permanently.</p>
         <p>You need to supply the unique article number that was returned when the article was created or retrieved from the list of articles.</p>
      operationId: remove_ArticlesResource
      parameters:
        - name: ArticleNumber
          in: path
          description: identifies the article
          required: true
          schema:
            type: integer
            format: int32
      responses:
        default:
          description: empty
          content: { }
  "/3/articles":
    get:
      tags:
        - ArticlesResource
      summary: Retrieve a list of articles
      description: Retrieves a list of articles. The articles are returned sorted
        by article number with the lowest number appearing first.
      operationId: list_ArticlesResource
      parameters:
[...]
